{% extends '../layout.html' %}
{% block title %}Develop{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mx-auto">
            {% for funcGroup in funcGroups %}
            <div class="card shadow mt-2 mb-3">
                <div class="card-header h5">{{funcGroup.Name}}</div>
                <div class="card-body">
                    <div class="row">
                        {% for singleFunc in funcGroup.Data %}
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card my-2 hover">
                                <div class="card-body">
                                    <h5>{{ singleFunc.Name }}</h5>
                                    <a href="{{ singleFunc.Path }}" class="btn btn-primary">使用</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for linkGroup in linkGroups %}
            <div class="card shadow mt-2 mb-3">
                <div class="card-header h5">{{linkGroup.Name}}</div>
                <div class="card-body">
                    {% for linkSubGroup in linkGroup.Data %}
                    <h4>{{ linkSubGroup.Name }}</h4>
                    <div class="link-data">
                        {% for link in linkSubGroup.Links %}
                        <a href="{{link.URL}}">{{link.Title}}</a><span> | </span>
                        {% endfor %}
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
{% block javascript %}
<script>
</script>
{% endblock %}

