{% extends '../layout.html' %}
{% block title %}字节计算器{% endblock %}
{% block description %}字节计算器{% endblock %}
{% block keywords %}字节换算,字节换算,字节单位{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h3 class="h3">字节计算器</h3>
            <hr>
            <div class="form-group mb-2">
                <label for="bit" class="mr-3">bit(b)</label>
                <input type="text" id="bit" class="form-control">
            </div>
            <div class="form-group mb-2">
                <label for="byte" class="mr-3">byte(B)(字节)</label>
                <input type="text" id="byte" class="form-control">
            </div>
            <div class="form-group mb-2">
                <label for="kilobyte" class="mr-3">kilobyte(KB)</label>
                <input type="text" id="kilobyte" class="form-control">
            </div>
            <div class="form-group mb-2">
                <label for="megabyte" class="mr-3">megabyte(MB)</label>
                <input type="text" id="megabyte" class="form-control">
            </div>
            <div class="form-group mb-2">
                <label for="gigabyte(GB)" class="mr-3">gigabyte(GB)</label>
                <input type="text" id="gigabyte" class="form-control">
            </div>
            <div class="form-group mb-2">
                <label for="terabyte(TB)" class="mr-3">terabyte(TB)</label>
                <input type="text" id="terabyte" class="form-control">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    window.onload = function () {
        const inputs = document.querySelectorAll(".form-group input");
        inputs.forEach(function (input) {
            input.onchange = function () {
                let value = 0.0;
                value = parseFloat(input.value);
                if (isNaN(value)) {
                    alert("请输入合法的数字");
                    return;
                }
                let bits = 0.0;
                let bytes = 0.0;
                let kbs = 0.0;
                let mbs = 0.0;
                let gbs = 0.0;
                let tbs = 0.0;
                switch (input.id) {
                    case "bit":
                        bits = value;
                        bytes = value / 8;
                        kbs = value / 8 / 1024;
                        mbs = value / 8 / Math.pow(1024, 2);
                        gbs = value / 8 / Math.pow(1024, 3);
                        tbs = value / 8 / Math.pow(1024, 4);
                        handle(bits, bytes, kbs, mbs, gbs, tbs);
                        break;
                    case "byte":
                        bits = value * 8;
                        bytes = value;
                        kbs = value / 1024;
                        mbs = value / Math.pow(1024, 2);
                        gbs = value / Math.pow(1024, 3);
                        tbs = value / Math.pow(1024, 4);
                        handle(bits, bytes, kbs, mbs, gbs, tbs);
                        break;
                    case "kilobyte":
                        bits = value * 8 * 1024;
                        bytes = value * 1024;
                        kbs = value;
                        mbs = value / 1024;
                        gbs = value / Math.pow(1024, 2);
                        tbs = value / Math.pow(1024, 3);
                        handle(bits, bytes, kbs, mbs, gbs, tbs);
                        break;
                    case "megabyte":
                        bits = value * 8 * Math.pow(1024, 2);
                        bytes = value * Math.pow(1024, 2);
                        kbs = value * 1024;
                        mbs = value;
                        gbs = value / 1024;
                        tbs = value / Math.pow(1024, 2);
                        handle(bits, bytes, kbs, mbs, gbs, tbs);
                        break;
                    case "gigabyte":
                        bits = value * 8 * Math.pow(1024, 3);
                        bytes = value * Math.pow(1024, 3);
                        kbs = value * Math.pow(1024, 2);
                        mbs = value * 1024;
                        gbs = value;
                        tbs = value / 1024;
                        handle(bits, bytes, kbs, mbs, gbs, tbs);
                        break;
                    case "terabyte":
                        bits = value * 8 * Math.pow(1024, 4);
                        bytes = value * Math.pow(1024, 4);
                        kbs = value * Math.pow(1024, 3);
                        mbs = value * Math.pow(1024, 2);
                        gbs = value * 1024;
                        tbs = value;
                        handle(bits, bytes, kbs, mbs, gbs, tbs);
                        break;
                }
            }
        })
    }
    function handle(bits, bytes, kbs, mbs, gbs, tbs) {
        document.querySelector("#bit").value = bits;
        document.querySelector("#byte").value = bytes;
        document.querySelector("#kilobyte").value = kbs;
        document.querySelector("#megabyte").value = mbs;
        document.querySelector("#gigabyte").value = gbs;
        document.querySelector("#terabyte").value = tbs;
    }
</script>
{% endblock %}