{% extends '../layout.html' %}
{% block title %}Github优秀项目{% endblock %}
{% block description %}Github优秀项目推荐{% endblock %}
{% block keywords %}github,github项目,github学习项目,github优秀项目,github热门项目,github项目推荐{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-center" id="repos">
        <div class="col-12 mx-auto">
            <h3 class="h3">Github优秀项目</h3>
        </div>
        {% for repoGroup in repoGroups%}
        <div class="col-12 mx-auto">
            <h5 class="text-left">{{repoGroup.Name}}</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th>项目名称</th>
                        <th>项目描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for repo in repoGroup.Repos %}
                    <tr>
                        <td class="align-middle"><a target="_blank" href="{{ repo.URL }}">{{ repo.Name }}</a></td>
                        <td class="align-middle text-left">{{repo.Description}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
{% block javascript %}
{% endblock %}