{% extends '../layout.html' %}
{% block title %}JSON格式化{% endblock %}
{% block description %}JSON在线格式化工具{% endblock %}
{% block keywords %}JSON在线格式化{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h3 class="h3">JSON格式化</h3>
            <hr>
            <div class="form-group">
                <textarea id="left" cols="30" rows="10" class="form-control" placeholder="需要格式化的JSON"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="format">格式化↓</button>
            </div>
            <div class="form-group">
                <textarea id="right" cols="30" rows="60" class="form-control" placeholder="格式化后的JSON"></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
{% block javascript %}
<script>
    $(function () {
        $('#format').click(function () {
            try {
                let json_data = $('#left').val().trim();
                json_data = JSON.parse(json_data);
                const content = JSON.stringify(json_data, null, 4);
                $('#right').val(content);
            } catch (error) {
                alert('JSON格式错误');
                return
            }
        });
    });
</script>
{% endblock %}