{% extends '../layout.html' %}
{% block title %}MD5{% endblock %}
{% block description %}在线md5加密解密工具{% endblock %}
{% block keywords %}在线md5,在线md5编解码,在线md5加密,在线md5解密,在线md5加解密{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h3 class="h3">MD5</h3>
            <hr>
            <div class="form-group">
                <textarea id="left" cols="30" rows="10" class="form-control" placeholder="要加密的内容"></textarea>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="HMAC-MD5 key(选填)" id="key">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="encrypt">加密↓</button>
                <button class="btn btn-primary float-right" id="decrypt" onclick="alert('暂未支持')">解密↑</button>
            </div>
            <div class="form-group">
                <textarea id="right" cols="30" rows="10" class="form-control" placeholder="加密后的内容"></textarea>
                <button id="upper" class="btn btn-primary mt-3 float-right">转大写</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/develop/md5.min.js"></script>
{% endblock %}
{% block javascript %}
<script>
    $(function () {
        $('#encrypt').click(function () {
            let val = $('#left').val();
            let key = $('#key').val();
            if (key.trim() !== '') {
                $('#right').val(md5(val, key));
            } else {
                $('#right').val(md5(val));
            }
        });
        $('#fileEncrypt').change(function (e) {
            let bmf = new BMF();
            console.log(e.target.files[0]);
            bmf.md5(file, function (err, md5) {
                console.log(err, md5)
            });
        });
        $('#upper').click(function () {
            let $value = $('#right');
            $value.val($value.val().toUpperCase());
        });
    });
</script>
{% endblock %}