{% extends '../layout.html' %}
{% block title %}二维码{% endblock %}
{% block description %}在线二维码生成和制作{% endblock %}
{% block keywords %}在线二维码生成,在线二维码制作，生成二维码,网址二维码{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h3 class="h3">二维码</h3>
            <hr>
            <div class="card">
                <div class="card-header">
                    生成二维码
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <textarea name="content" id="content" cols="30" rows="10" placeholder="内容"
                                  class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="gen">生成</button>
                    </div>
                    <hr>
                    <div id="qrcode"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/tool/qrcode.min.js"></script>
{% endblock %}
{% block javascript %}
<script>
    $(function () {
        $('#gen').click(function () {
            let content = $('#content').val();
            if (!content.trim()) {
                alert('内容不能为空');
                return
            }
            const qrcodeArea = document.querySelector('#qrcode');
            qrcodeArea.innerHTML = "";
            let qr = new QRCode(qrcodeArea, {'width': 100, 'height': 100});
            qr.makeCode(content);
        });
    })
</script>
{% endblock %}