{% extends '../layout.html' %}
{% block title %}随机字符生成器{% endblock %}
{% block description %}随机字符生成器,随机密码生成器{% endblock %}
{% block keywords %}随机密码,随机字符,随机数字,在线生成{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h3 class="h3">随机字符生成</h3>
            <hr>
            <div class="mr-3 d-inline-block">
                <label for="digits">数字</label>
                <input type="checkbox" id="digits" checked>
            </div>
            <div class="mr-3 d-inline-block">
                <label for="letter">小写英文</label>
                <input type="checkbox" id="letter" checked>
            </div>
            <div class="mr-3 d-inline-block">
                <label for="letter_up">大写英文</label>
                <input type="checkbox" id="letter_up" checked>
            </div>
            <div class="form-group">
                <label for="sym">特殊符号</label>
                <textarea id="sym" cols="30" rows="4" class="form-control">!@#$%^&</textarea>
            </div>
            <div class="form-group">
                <label for="exclude">排除字符</label>
                <textarea id="exclude" cols="30" rows="4" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="length">长度</label>
                <input type="number" id="length" value="8" class="form-control">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="gen">生成</button>
            </div>
            <div class="alert alert-success" id="data">占位</div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(function () {
        function randomIndex(len) {
            return Math.floor(Math.random() * len);
        }

        $("#gen").click(function () {
            const resultLength = parseInt($("#length").val());
            let chars = '';
            const digits = $("#digits");
            const letter = $("#letter");
            const letter_up = $("#letter_up");
            const syms = $("#sym");
            let exclude = $("#exclude").val();
            if (digits.prop("checked")) {
                chars += "0123456789";
            }
            if (letter.prop("checked")) {
                chars += "abcdefghijklmnopqrstuvwxyz";
            }
            if (letter_up.prop("checked")) {
                chars += "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            }
            chars += syms.val();
            exclude = exclude.split("");
            chars = chars.split("");
            let newChars = [];
            for (let char of chars) {
                if (exclude.indexOf(char) === -1) {
                    newChars.push(char);
                }
            }
            const charLength = newChars.length;
            let result = "";
            for (let i = 0; i < resultLength; i++) {
                result += newChars[randomIndex(charLength)];
            }
            $("#data").text(result);
        });
    });
</script>
{% endblock %}
