{% extends '../layout.html' %}
{% block title %}文本长度统计{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <h3 class="h3">文本长度统计</h3>
            <hr>
            <textarea id="text" rows="20" class="form-control"></textarea>
            <p>
                字数总计: <span id="count" class="text-success"></span>&nbsp;
                行数: <span id="row-count" class="text-success"></span>
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    window.onload = () => {
        document.querySelector('#text').oninput = function () {
            document.querySelector('#count').innerText = this.value.length;
            document.querySelector('#row-count').innerText = this.value.split('\n').length;
        }
    }
</script>
{% endblock %}
