{% extends "layout.html" %}
{% block title %}页面未找到{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-4">
            <div class="card">
                <div class="card-header bg-danger">
                    <h4 class="mb-0">发生了一些错误...</h4>
                </div>
                <div class="card-body">
                    <span>{% if message %}{{ message }}{% else %}页面未找到...{% endif %}</span>
                    <br>
                    <a href="/" class="mt-2 d-block">回到主页</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}