{% extends "layout.html" %}
{% block title %}关于{% endblock %}
{% block style %}
<style>
    p {
        line-height: 2rem;
        margin-bottom: 0;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
            <div class="card">
                <div class="card-header">
                    关于
                </div>
                <div class="card-body">
                    <div class="card-text text-center">
                        <h5>登池州翠微亭 - 岳飞</h5>
                        <p>经年尘土满征衣，特特寻芳上翠微。</p>
                        <p>好水好山看不足，马蹄催趁月明归。</p>
                        <hr>

                        <h5>小重山 - 岳飞</h5>
                        <p>昨夜寒蛩不住鸣。惊回千里梦，已三更。</p>
                        <p>起来独自绕阶行。人悄悄，帘外月胧明。</p>
                        <p>白首为功名。旧山松竹老，阻归程。</p>
                        <p>欲将心事付瑶琴。知音少，弦断有谁听。</p>
                        <hr>

                        <h5>处世若醉梦 - 于谦</h5>
                        <p>处世若醉梦，忧乐付等閒。百事皆前定，对酒且自宽。</p>
                        <p>仰天歌呜呜，清风吹我冠。浊醪满瓦缶，苜蓿堆春盘。</p>
                        <p>无人劝我饮，自酌还自欢。醉眠白日晚，起看明月团。</p>
                        <p>拔剑舞中庭，浩歌振林峦。丈夫意如此，不学腐儒酸。</p>
                        <hr>

                        <h5>宿南台寺 - 张居正</h5>
                        <p>一枕孤峰宿瞑烟，不知身在翠微巅。</p>
                        <p>寒生钟磬宵初彻，起结跏趺月正圆。</p>
                        <p>尘梦幻随诸相灭，觉心光照一灯燃。</p>
                        <p>明朝更觅朱陵路，踏遍紫云犹未旋。</p>
                        <hr>

                        <h5>送初幼嘉年兄还郢 - 张居正</h5>
                        <p>燕市重来二月初，翩翩意气曳长裾。</p>
                        <p>金门未售甘泉赋，玄室何人问子虚。</p>
                        <p>太乙夜燃东壁火，天池时化北冥鱼。</p>
                        <p>乾坤岁岁浮春色，环佩相将侍禁庐。</p>
                        <hr>

                        <h5>南还别陈翼所总戎 - 袁崇焕</h5>
                        <p>慷慨同仇日，间关百战时。</p>
                        <p>功高明主眷，心苦后人知。</p>
                        <p>麋鹿还山便，麒麟绘阁宜。</p>
                        <p>去留都莫讶，秋草正离离。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}